extends layout

block content
    h1= title

    ul
    each category in category_list
        img(src=category.image, alt="")
        h3
            a(href=category.url) #{category.title}
    else
        p There are no categories.