extends layout

block content
    h1= title
    .grid
        each category in category_list
            .tile
                if category.image
                    img(src=category.image, alt="")
                h3
                a(href=category.url) #{category.title}
        else
            p There are no categories.