extends layout

block content
        h1 Product Instance: #{product_instance.title}
        h3 Color: #{product_instance.color}
        h3 Product: 
                a(href='/dashboard/' + product_instance.product.url) #{product_instance.product.title}
        p Availability: #{product_instance.availability}                