extends layout

block content
    h1= title

    .grid
        each product in product_instance_list
            .tile
                if product.image
                    img(src=product.image, alt="")
                p 
                    a(href=product.url) #{product.title}
            
        else
            p There are no product variations.